html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: "Crimson Text", serif;
*/

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

body {
  font-size: 1em;
}
