html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: "Crimson Text", serif;
*/

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

header p {
  font-style: italic
}

body {
  font-size: 1em;
  margin: 0;
}
