html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: "Crimson Text", serif;
*/

body {
  color: #222;
  line-height: 1.3;
  margin: 0;
  padding: 0 1rem;
}

blockquote {
  font-size: 1.125rem;
  color: #555;
}

.quote {
  color: #999;
}

article {
  font-size: 1em;
  margin-bottom: 1.3rem;
  border-bottom: 2px solid #999;
}

article header {
  font-style: normal;
  margin-bottom: 1.3rem;
}

article h1 {
  font-size: 1.5rem;
}

article header p {
  font-style: italic;
  margin-top: -1.3rem;
  border-bottom: 2px solid #999;
  padding-bottom: 1.3rem;
}

article p {
  margin-bottom: 1.3rem;
}

article ol {
  font-weight: normal;
  margin-left: -1.3rem;
}
